html
    width 100%
    height 100%

body
    height 100%
    min-height 100%
    width 100%
    min-width 940px

.main-wrap
    min-height 100%
    padding-bottom 160px
    margin-bottom -160px
    sf()
.overlay
    display none
    position fixed
    top 0
    left 0
    background-color rgba(0,0,0,.6)
    width 100%
    height 100%
    min-height 100%
    z-index 4000
