.page
    display block
    margin-bottom 40px
    center(940px)
    sf()
.pageHeader
    display block
    margin-bottom 20px
    h1
        display block
        position relative
        ff(sans,4.5,4.5)
        padding-bottom 20px
        &:after
            display block
            position absolute
            width 42px
            height 3px
            background-color #e01f2b
            bottom 0
            left 0
            content ""

.pageBody
    display block
    margin-bottom 10px
    sf()
    h2
        ff(sans,2.8)
        margin-bottom 20px
    h3
        ff(sans,2.2)
        margin-bottom 20px
    p
        display block
        ff(normal,1.5,2.4)
        margin-bottom 20px
        sf()
    h4
        ff(arial_bold,1.5,2.4)
        margin-bottom 20px
    blockquote
        display block
        color #E01F2B
        ff(arial_bold,1.5,2.1)
        border-left 6px solid #E01F2B
        margin-left 20px
        margin-top 30px
        margin-bottom 30px
        padding 10px 0 10px 20px
    a
        display inline-block
        color #E0212D
        ff(normal,1.5,2.4)
        text-decoration none
        transition all .3s
        &:hover
            color #A52324
            text-decoration underline
.pageBlockImages
    display block
    margin-bottom 14px
    sf()
.pageBlockImagesPhoto
    display table-cell
    padding-right 20px
    padding-bottom 0px
.pageBlockImagesText
    display table-cell
    vertical-align top
    p
        margin-bottom 0px

ul
    display block
    margin-left 15px
    margin-bottom 17px
    padding 0
    ff(normal,1.5,2.4)
    list-style none
    sf()
    li
        display block
        position relative
        padding 5px 0
        margin-left 25px
        &:before
            display block
            position absolute
            content "—"
            left -25px
            color #E01F2B
            padding-right 10px

ol
    display block
    margin-left 15px
    padding 0
    ff(normal,1.5,2.4)
    list-style none
    counter-reset li
    color #E01F2B
    sf()
    li
        display block
        position relative
        padding 5px 0
        margin-left 25px
        color #000
        &:before
            display block
            position absolute
            content counter(li) "."
            counter-increment li
            left -25px
            color #E01F2B
            padding-right 10px
