.priceList
    center(940px)
.priceListHeader
    display block
    margin-bottom 20px
    sf()
    h1
        display block
        float left
        position relative
        ff(sans,4.5,4.5)
        padding-bottom 22px
        &:after
            display block
            position absolute
            width 42px
            height 3px
            background-color #e01f2b
            bottom 0
            left 0
            content ""
    a
        display block
        float left
        margin-top 12px
        margin-left 20px
        bg(left)
        background-image inline("iconDocument.png")
        height 30px
        padding-left 30px
        ff(normal,1.3,3)
        color #0084FF
        text-decoration none
        transition color .3s
        will-change color
        &:hover
            color darken(#0084FF, 20%)
            text-decoration underline

.priceListSubHeader
    display block
    margin-bottom 7px
    sf()
    h2
        ff(sans,2.2)

.priceTable
    display block
    margin-bottom 33px
    sf()
    table
        width 100%
        .right
            text-align right
        thead
            border-bottom 2px solid #e0202c
            td
                padding 10px 0 10px 10px
                ff(arial_bold,1.5)
        tbody
            tr
                border-bottom 1px solid #e2e2e2
                &:last-child
                    border-bottom 1px solid transparent
            td
                vertical-align top
                padding 10px
                ff(normal,1.5)
