.buttonClose
    display block
    width 18px
    height 18px
    bg()
    background-image inline("iconClose.png")
    font-size 0
    border 0
    background-color transparent
    outline 0
    transition all .3s
    will-change background-image
    &:hover
        background-image inline("iconCloseActive.png")

.buttonRed
    display inline-block
    height 44px
    background-color #E01F2B
    border-radius 22px
    ff(arial_bold,1.5)
    padding 0 30px
    color #fff
    border 0
    outline 0
    transition color .3s
    will-change color
    &:hover
        background-color #A52324
