.breadcrumbs
    display block
    padding 10px 0px
    a
        display inline-block
        color #E0212D
        ff(normal,1.3)
        text-decoration none
        transition all .3s
        padding-left 5px
        &:hover
            color #A52324
            text-decoration underline
        &:after
            display inline-block
            padding-left 5px
            content "/"
            color #000
        &:last-child
            &:after
                display none
