.callback
    display block
    abs_center()
    position fixed
    width 490px
    height 300px
    border-radius 5px
    background-color #FFF
    padding 32px
    z-index 5000
    sf()
.callbackForms
    display block
    position relative
    top 0
    left 0
.callbackResult
    display none
    position relative
    top 0
    left 0
.callbackClose
    display block
    position absolute
    top 10px
    right 10px

.callbackHeader
    display block
    ff(sans,2.2)
    color #302E2E
    margin-bottom 10px
    sf()

.callbackText
    display block
    ff(normal,1.5,2.3)
    color #252525
    margin-bottom 20px

.callbackForm
    display block
    sf()
    input
        margin-bottom 20px
    &Button
        text-align right

.callbackResultImage
    display block
    margin-top 20px
    margin-bottom 20px
    padding-left 30px
    text-align center
    sf()
.callbackResultText
    display block
    sf()
    h3
        display block
        color #302E2E
        ff(sans,2.8)
        text-align center
        margin-bottom 10px
    p
        ff(normal,1.5,2.3)
        color #252525
        text-align center
