extends _layout

block content
    .banner
    .page
        include block/breadcrumbs
        .pageHeader
            h1 Страницы
        .pageBody
            h3
                a(href="/index") Главная
            h3
                a(href="/list") Продукция
            h3
                a(href="/price") Прайс-лист
            h3
                a(href="/contact") Контакты
            h3
                a(href="/page") Типовая
