extends _layout

block content
    .banner
    .contact
        include block/breadcrumbs
        .contactHeader
            h1 Контактная информация
        .contactBody
            h3 620017, Санкт-Петербург, ул.Старых большевиков, д.2А/1, оф. 409
            p Обратитесь к нашим специалистам и получите профессиональную консультацию. Вы можете обратиться к нам по телефону, по электронной почте или договориться о встрече в нашем офисе. Будем рады помочь вам и ответить на все ваши вопросы.
            h3 Телефоны в главном офисе
            h4 +7 (343) 217-97-37
            h4 +7 (343) 228-44-32
        .contactMap
            h3 Офис на карте
            script(type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=gX--68D-78R2_fI714zASReaF6B6yesc&width=940&height=450")
