extends _layout

block content
    .banner
    .priceList
        include block/breadcrumbs
        .priceListHeader
            h1 Услуги и цены
            a(href="#") Скачать прайс
        .priceListSubHeader
            h2 Услуга: опалубка

        .priceTable
            table
                thead
                    tr
                        td Услуга
                        td.right Цена за сутки, руб.
                        td.right Цена за месяц, руб.
                tbody
                    tr
                        td Опалубка стеновая Manto за 1 кв.м
                        td.right 35
                        td.right 500
                    tr
                        td Опалубка стеновая Гамма за 1 кв.м
                        td.right 35
                        td.right 500
                    tr
                        td Опалубка для колонн Manto 3,3м комплект
                        td.right 35
                        td.right 500
                    tr
                        td Туры для перекрытия ID-15
                        td.right 35
                        td.right 500
                    tr
                        td Стойка телескопическая  оцинкованная 1,5м
                        td.right 35
                        td.right 500
                    tr
                        td Стойка телескопическая оцинкованная 3м
                        td.right 35
                        td.right 500
                    tr
                        td Опалубка стеновая Manto за 1 кв.м
                        td.right 35
                        td.right 500
                    tr
                        td Опалубка стеновая Гамма за 1 кв.м
                        td.right 35
                        td.right 500
                    tr
                        td Тренога
                        td.right 35
                        td.right 500
                    tr
                        td Унивилка
                        td.right 35
                        td.right 500
                    tr
                        td Стойка телескопическая  оцинкованная 1,5м
                        td.right 35
                        td.right 500
                    tr
                        td Стойка телескопическая оцинкованная 3м
                        td.right 35
                        td.right 500
        .priceListSubHeader
            h2 Услуга: строительные леса
        .priceTable
            table
                thead
                    tr
                        td Услуга
                        td.right Цена за сутки, руб.
                        td.right Цена за месяц, руб.
                tbody
                    tr
                        td Клиновые строительные леса за 1 кв.м
                        td.right 5
                        td.right 120
                    tr
                        td Вышки-туры на колесах  до 10м
                        td.right по запросу
                        td.right по запросу
        .priceListSubHeader
            h2 Прочии услуги
        .priceTable
            table
                thead
                    tr
                        td Услуга
                        td Цена за сутки, руб.

                tbody
                    tr
                        td Доставка / вывоз оборудования
                        td зависит от удаленности объекта и типа перевозимого оборудования  


                    tr
                        td Погрузочные / разгрузочные работы зависит от сложности работ
                        td зависит от сложности работ

Услуга
Клиновые строительные леса за 1 кв.м
Вышки-туры на колесах  до 10м
