.company
    .companyLeft
        .companyPhoto
            img(src="img/company.jpg", alt="")
    .companyRight
        .companyHeader
            h2 О компании
        .companyText
            | Мы предлагаем решения, опираясь на широкий ассортимент продукции, соответствующей самым высоким стандартам безопасности — это касается как строительных лесов, так и опалубки. Мы регулярно осуществляем техническое обслуживание, проверку и инспектирование нашего оборудования, а также активно работаем с нашими клиентами в области обеспечения безопасности при работе с продукцией ЗАО «Яуза».
        .companyLink
            a(href="#") О компании
            a(href="#") Услуги
            a(href="#") Контакты
