.object
    .objectLeft
        .objectHeader
            h2 Последний объект
        .objectSubHeader
            h3 г. Иваново, пос. Абрец
        .objectText
            | Мы регулярно осуществляем техническое обслуживание, проверку и инспектирование нашего оборудования, а также активно работаем с нашими клиентами в области обеспечения безопасности при работе с продукцией ЗАО «Яуза».
        .objectLink
            a(href="#") Все объекты
    .objectRight
        .objectPhoto
            img(src="img/object.jpg", alt="")
