.price
    .priceHeader
        .priceHeaderText
            h2 Услуги и цены
            a(href="#") Скачать прайс
        .priceHeaderBorder
    .priceItems
        .priceItem
            a(href="#").priceItemPhoto(style="background-image:url(img/price1.jpg)")
            .priceItemText
                a(href="#")
                    | Доставка / вывоз </br> оборудования
        .priceItem
            a(href="#").priceItemPhoto(style="background-image:url(img/price2.jpg)")
            .priceItemText
                a(href="#")
                    | Строительные леса
        .priceItem
            a(href="#").priceItemPhoto(style="background-image:url(img/price3.jpg)")
            .priceItemText
                a(href="#")
                    | Строительные леса
    .priceBorder
