.product
    .productHeader
        h2 Продукция компании
    .productItems
        .productItem
            .productItemHeader
                a(href="#") Крепления для лесов CUPLOK
            .productItemPhoto
                img(src="img/product1.jpg", alt="")
            .productItemText
                | Что бы вам ни пришлось возводить - от бункеров до подвалов, от пилонов мостов до высотных коммерческих центров или жилых домов, предоставит вам самую лучшую стеновую опалубку для решения любой задачи.
        .productItem
            .productItemHeader
                a(href="#") Системы креплений опалубки
            .productItemPhoto
                img(src="img/product2.jpg", alt="")
            .productItemText
                | Безопасность, экономия времени и легкость – это ключевые составляющие любой современной стройплощадки.
        .productItem
            .productItemHeader
                a(href="#") Инфраструктура
            .productItemPhoto
                img(src="img/product3.jpg", alt="")
            .productItemText
                | Безопасные, быстрые и эффективные системы опор для подмостей имеют огромное значение для выполнения слаженной работы с опалубкой перекрытий или при поддержке проекта.
    .productBorder
