.sliders
    .sliderItems
        .sliderItem
            .sliderItemPhoto(style="background-image:url(img/slider1.jpg)")
                .sliderItemText
                    | Предлагаем решения,</br>     опираясь на широкий ассортимент продукции
        .sliderItem
            .sliderItemPhoto(style="background-image:url(img/slider1.jpg)")
                .sliderItemText
                    | Предлагаем решения,</br>     опираясь на широкий ассортимент продукции
