.sliders
    display block
    border-bottom 6px solid #000080
    sf()

.sliderItems
    display block
    sf()
.sliderItem
    display block
    sf()
.sliderItemPhoto
    display block
    width 100%
    height 285px
    bg()
    background-size cover

.sliderItemText
    center(940px)
    padding-top 70px
    height 285px
    ff(sans,5.0,5.0)
    text-shadow 0 0 16px rgba(0, 0, 0, 0.75)
    color #fff
