.product
    center(940px)
    padding-top 28px
    margin-bottom 35px
.productBorder
    display block
    position relative
    border-bottom 3px solid #dfdfdf
    margin-bottom 6px
    &:after
        display block
        position absolute
        width 100%
        top 6px
        height 1px
        content ""
        border-bottom 1px solid #dfdfdf
.productHeader
    display block
    padding-bottom 4px
    border-bottom 1px solid #dfdfdf
    margin-bottom 18px
    sf()
    h2
        ff(sans,3.0,3.0)
        padding-bottom 20px
        border-bottom 3px solid #dfdfdf

.productItems
    display block
    sf()

.productItem
    col(1/3)

.productItemHeader
    display block
    margin-bottom 20px
    sf()
    a
        ff(sans,2.2)
        text-decoration none
        transition all .3s
        will-change color, text-decoration
        color #000
        &:hover
            color #A52324
            text-decoration underline
.productItemPhoto
    display block
    margin-bottom 20px
    img
        width 100%
    sf()
.productItemText
    display block
    position relative
    padding-top 20px
    margin-bottom 20px
    ff(normal,1.3,2.1)
    sf()
    &:before
        display block
        position absolute
        width 42px
        height 3px
        background-color #e01f2b
        top 3px
        left 0
        content ""
