.footer
    .footerItems
        .footerItem
            h4 Наш адрес
            p Россия, 620017, г. Санкт-Петербург
            p Невский проспект, 144, оф.409
            p Посмотреть на карте

        .footerItem
            h4 Контакты
            p тел.: (812) 217-97-37
            p тел.: (812) 228-44-32
            p
                a(href="mailto:почта@яуза.рф") почта@яуза.рф
        .footerItem
            h4 О компании
            p
                a(href="#") О компании
            p
                a(href="#") Услуги
            p
                a(href="#") Продукция

        .footerItem.footerItemRight
            h4 © «ЯУЗА» 2015
