.header
    .headerWrap
        .headerLogo
            a(href="#") Яуза
        .headerSlogan
            | Предлагаем решения, опираясь на широкий</br> ассортимент продукции
        .headerPhone
            i (812)
            |  458-98-98</br>
            a(href="javascript:void(0)").js-callback Заказать звонок
        .headerAdress
            b Санкт-Петербург
            | Невский проспект, 144
