.listItems
   .listItem
        .listItemPhoto
            a(href="#")
                img(src="img/product1.jpg", alt="")
        .listItemText
           .listItemTextHeader
                h2 Крепления для лесов CUPLOK
           .listItemBody Что бы вам ни пришлось возводить - от бункеров до подвалов, от пилонов мостов до высотных коммерческих центров или жилых домов, предоставит вам самую лучшую стеновую опалубку для решения любой задачи.
           .listItemBody
               a(href="#") Подробнее
       .listItemBorder
   .listItem
        .listItemPhoto
            a(href="#")
                img(src="img/product2.jpg", alt="")
        .listItemText
           .listItemTextHeader
                h2 Самоподъемные системы опалубки
           .listItemBody Безопасность, экономия времени и легкость – это ключевые составляющие любой современной стройплощадки.
           .listItemBody
               a(href="#") Подробнее
       .listItemBorder
   .listItem
        .listItemPhoto
            a(href="#")
                img(src="img/product1.jpg", alt="")
        .listItemText
           .listItemTextHeader
                h2 Крепления для лесов CUPLOK
           .listItemBody Что бы вам ни пришлось возводить - от бункеров до подвалов, от пилонов мостов до высотных коммерческих центров или жилых домов, предоставит вам самую лучшую стеновую опалубку для решения любой задачи.
           .listItemBody
               a(href="#") Подробнее
       .listItemBorder
   .listItem
        .listItemPhoto
            a(href="#")
                img(src="img/product2.jpg", alt="")
        .listItemText
           .listItemTextHeader
                h2 Самоподъемные системы опалубки
           .listItemBody Безопасность, экономия времени и легкость – это ключевые составляющие любой современной стройплощадки.
           .listItemBody
               a(href="#") Подробнее
       .listItemBorder
