.menu
    .menuItems
        .menuItem.menuItemActive
            a(href="#") О КОМПАНИИ
        .menuItem
            a(href="#") ПРОДУКЦИЯ
        .menuItem
            a(href="#") УСЛУГИ
        .menuItem
            a(href="#") ОБЪЕКТЫ
        .menuItem
            a(href="#") ДОКУМЕНТЫ
        .menuItem
            a(href="#") НОВОСТИ
        .menuItem
            a(href="#") КОНТАКТЫ
