.callback
    .callbackClose
        button.buttonClose.js-callbackClose
    .callbackForms
        .callbackHeader
            | Обратный звонок
        .callbackText
            | Мы не будем испытывать ваше терпение и перезвоним в течении 15-ти минут!
        .callbackForm
            .callbackFormInput
                input.input(placeholder="Номер телефона")
            .callbackFormButton
                button.buttonRed.js-callbackResult Отправить
    .callbackResult
        .callbackResultImage
            img(src="img/callbackResult.png", alt="")
        .callbackResultText
            h3 Уже набираем...
            p Мы не будем испытывать ваше терпение и перезвоним в течении 15-ти минут!
