.header
    display block
    width 100%
    background-color #000080
    height 108px

.headerWrap
    center(940px)
    padding-top 27px

.headerLogo
    display block
    float left
    height 54px
    border-right 1px solid rgba(255,255,255,.1)
    a
        color #fff
        text-decoration none
        ff(black_bold,5.4,5.4)
        text-transform uppercase
        padding-right 28px
.headerSlogan
    display block
    float left
    margin-right 130px
    ff(normal,1.3,2.1)
    padding 8px 0 8px 28px
    color #FFF
    opacity .5

.headerPhone
    display block
    float left
    ff(sans,1.8)
    color #fff
    padding 8px 28px 8px 0
    border-right 1px solid rgba(255,255,255,.1)
    i
        color #A3A3C6
        font-style normal
    a
        display inline-block
        ff(normal,1.3)
        color #fff
        text-decoration none
        border-bottom 1px dashed #fff
        transition all .5s
        will-change color, border
        &:hover
            color #A3A3C6
            border-bottom 1px dashed #A3A3C6

.headerAdress
    display block
    float left
    ff(normal,1.3,2.1)
    padding 8px 0 8px 28px
    color #fff
    b
        display block
