.price
    center(940px)
    padding-top 28px
    margin-bottom 35px
.priceBorder
    display block
    position relative
    border-bottom 3px solid #dfdfdf
    margin-bottom 6px
    &:after
        display block
        position absolute
        width 100%
        top 6px
        height 1px
        content ""
        border-bottom 1px solid #dfdfdf

.priceHeader
    display block
    margin-bottom 25px
    sf()
    &Text
        display block
        sf()
        h2
            display block
            float left
            ff(sans,3.0,3.0)
            padding-right 20px
        a
            display block
            float left
            margin-top 3px
            bg(left)
            background-image inline("iconDocument.png")
            height 30px
            padding-left 30px
            ff(normal,1.3,3)
            color #E01F2B
            transition color .3s
            will-change color
            &:hover
                color #A52324

    &Border
        display block
        position relative
        margin-top 15px
        border-bottom 3px solid #dfdfdf
        margin-bottom 6px
        &:after
            display block
            position absolute
            width 100%
            top 6px
            height 1px
            content ""
            border-bottom 1px solid #dfdfdf
.priceItems
    display block
    margin-bottom 40px
    sf()

.priceItem
    col(1/3)
    position relative
    &:hover
        .priceItemText
            a
                text-decoration underline

    &Photo
        display block
        position relative
        height 161px
        width 100%
        sf()
    &Text
        display block
        position absolute
        padding 14px
        height 80px
        width 100%
        bottom 0
        background linear-gradient(to top, alpha(#e01f2b, .5) 0%, alpha(#e64c55,.0) 100%)
        a
            display block
            position absolute
            bottom 14px
            width 100%
            ff(sans,2.2)
            color #fff
            text-decoration none
            transition all .3s
            &:hover
                text-decoration underline
