.pagginator
    display block
    margin-bottom 30px
    sf()
    a
        display block
        float left
        width 37px
        height 50px
        background-color transparent
        text-align center
        padding-top 16px
        ff(sans,1.4)
        color #0084FF
        text-decoration none
        transition all .3s
        &:hover
            color #e01f2b
            text-decoration underline
    .active
        background-color #e01f2b
        color #fff
        &:hover
            text-decoration none
            color #fff
