.list
    center(940px)
    sf()
.listHeader
    display block
    margin-bottom 20px

    h1
        display block
        position relative
        ff(sans,4.5,4.5)
        padding-bottom 20px
        &:after
            display block
            position absolute
            width 42px
            height 3px
            background-color #e01f2b
            bottom 0
            left 0
            content ""

.listItem
    display block
    margin-bottom 30px
    sf()

.listItemPhoto
    display table-cell
    padding-right 20px

.listItemTextHeader
    display block
    margin-bottom 10px
    sf()
    h2
        display block
        position relative
        ff(sans,2.2,2.2)
        padding-bottom 15px
        &:after
            display block
            position absolute
            width 42px
            height 3px
            background-color #e01f2b
            bottom 0
            left 0
            content ""
.listItemBody
    display block
    margin-bottom 10px
    ff(normal,1.3,2.1)
    color #000
    sf()
.listItemBody
    display block
    sf()
    a
        color #0084FF
        text-decoration none
        ff(normal,1.3,2.1)
        padding-right 20px
        &:hover
            color #A52324
            text-decoration underline
.listItemText
    display table-cell
    vertical-align top
.listItemBorder
        display block
        position relative
        margin-top 15px
        border-bottom 3px solid #dfdfdf
        margin-bottom 36px
        &:after
            display block
            position absolute
            width 100%
            top 6px
            height 1px
            content ""
            border-bottom 1px solid #dfdfdf
