.company
    center(940px)
    margin-bottom 20px

.companyLeft,
.companyRight
    col(1/2)

.companyHeader
    display block
    margin-bottom 10px
    sf()
    h2
        display block
        position relative
        ff(sans,2.8,2.8)
        padding-bottom 10px
        &:after
            display block
            position absolute
            width 42px
            height 3px
            background-color #e01f2b
            bottom 0
            left 0
            content ""

.companyText
    display block
    margin-bottom 20px
    ff(normal,1.3,2.1)
    color #000
    sf()
.companyLink
    display block
    sf()
    a
        color #0084FF
        text-decoration none
        ff(normal,1.3,2.1)
        padding-right 20px
        &:hover
            color #A52324
            text-decoration underline
