.contact
    display block
    margin-bottom 40px
    center(940px)
    sf()
.contactHeader
    display block
    margin-bottom 17px
    h1
        display block
        position relative
        ff(sans,4.5,4.5)
        padding-bottom 20px
        &:after
            display block
            position absolute
            width 42px
            height 3px
            background-color #e01f2b
            bottom 0
            left 0
            content ""

.contactBody
    display block
    margin-bottom 10px
    sf()
    h3
        ff(sans,2.2)
        margin-bottom 17px
    p
        ff(normal,1.5,2.1)
        margin-bottom 20px
    h4
        ff(arial_bold,1.5)
        margin-bottom 17px

.contactMap
    h3
        ff(sans,2.2)
        margin-bottom 20px
