.input
    display inline-block
    width 100%
    padding 0 13px
    height 48px
    background-color #FFF
    border 1px solid rgba(0, 0, 0, 0.2)
    border-radius 3px
    ff(normal,2.1)
    color #252525
    &::-webkit-input-placeholder
        padding-top 3px
        color alpha(#252525,.5)
        ff(normal,1.5)
    &:-moz-placeholder
        color alpha(#252525,.5)
        ff(normal,1.5)
    &::-moz-placeholder
        color alpha(#252525,.5)
        ff(normal,1.5,4.8)
    &:-ms-input-placeholder
        color alpha(#252525,.5)
        ff(normal,1.5)
