.menu
    display block
    width 100%
    background cd Pro   #e01f2b
    background linear-gradient(to right, #e01f2b 0%, #e64c55 100%)
    height 50px

.menuItems
    center(940px)

.menuItem
    span(1/7)
    text-align center
    padding-top 18px
    height 50px
    a
        ff(sans,1.4,1.4)
        text-transform uppercase
        text-decoration none
        color #fff
        &:hover
            color #F4D6D6
    &Active
        background-color #b31b24
