.footer
    display block
    width 100%
    height 160px
    background-color #000080
    sf()
.footerItems
    center(940px)
    padding 30px 0

.footerItem
    span(2/7)
    h4
        display block
        ff(arial_bold,1.3)
        color #FFF
        margin-bottom 10px
        text-transform uppercase
        sf()
    p
        ff(normal,1.3)
        color #A3A3C6
        margin-bottom 10px
        a
            color #A3A3C6
            transition color .3s
            &:hover
                color #fff

.footerItemRight
    col(1/7)
    text-align right
